.footer {
    display: flex;
    justify-content: space-between;
    width: 900px;
    color: #aaa;
    font-size: 14px;
    margin: 0 auto 50px auto;
    background: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
}

.footer-copy {
    display: block;
    padding: 20px;
}

.footer-list {
    display: flex;
    padding: 20px;
}

.footer-list > li {
    padding: 0 0 0 20px;
}
.footer a:hover {
    color: #000;
}